// Global Styles
// This file contains global styles that apply to the entire application

// Import variables
@import './variables';

// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.webkitForceHardwareAcceleration {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

html {
  font-size: 16px;
  scrollbar-gutter: stable;
}

#app {
  background: $backgroundColor;
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $textColor;
}

// - Typography

.unicode {
  font-family: 'Arial Unicode MS', sans-serif !important;
}

h1,
h2 {
  font-weight: 700;
  letter-spacing: 0.3px;
}

h1 {
  font-size: 2rem;
  line-height: 100%;
}

h2 {
  font-size: 1.5rem;
  line-height: 130%;
  margin-bottom: 20px;
  margin-top: 20px;
  color: $headingColor;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

p,
ul {
  margin-bottom: 25px;
}

p,
li {
  line-height: 155%;
}

b {
  font-weight: 700;
}

ul {
  list-style-position: inside;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 540px;
  padding: 16px;

  figcaption {
    text-align: left;
    color: $textColor !important;
    text-decoration: none !important;
    text-decoration-style: none !important;
  }
}

figure button.cta {
  background: $redPunch;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-top: 15px;
  transition: all 0.3s ease;
}

@media (min-width: 451px) {
  li a.thumb:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  }
}

p em {
  font-style: italic;
}

.small {
  font-size: 0.7rem;
}

.caps {
  text-transform: uppercase;
}

.small.caps {
  line-height: 80%;
}

a {
  color: $redPunch;
  text-decoration: underline;
}

a:hover {
  color: $redPunch;
  cursor: pointer;
  cursor: hand;
}

ul {
  margin: 0 auto;
}
