// Global Styles
// This file contains global styles that apply to the entire application

// Import variables
@import './variables';

// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.webkitForceHardwareAcceleration {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

html {
  font-size: 16px;
  scrollbar-gutter: stable;
}

body {
  background: $backgroundColor;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textColor;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $textColor;
}

// - Typography

h1,
h2 {
  font-weight: 700;
  letter-spacing: 0.3px;
}

h1 {
  font-size: 2rem;
  line-height: 100%;
}

h2 {
  font-size: 1.5rem;
  line-height: 130%;
  margin-bottom: 20px;
  margin-top: 20px;
  color: $headingColor;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

p,
ul {
  margin-bottom: 25px;
}

p,
li {
  line-height: 155%;
}

b {
  font-weight: 700;
}

ul {
  list-style-position: inside;
}

li {
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-bottom: 15px;
}

li a.thumb {
  display: inline-block;
  flex-shrink: 0;
  background-size: cover !important;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 5px 25px 5px 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 451px) {
  li a.thumb:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  }
}

p em {
  font-style: italic;
}

.small {
  font-size: 0.7rem;
}

.caps {
  text-transform: uppercase;
}

.small.caps {
  line-height: 80%;
}

a {
  color: $redPunch;
  text-decoration: underline;
}

a:hover {
  color: $redPunch;
  cursor: pointer;
  cursor: hand;
}

ul {
  margin: 0 auto;
}
