// Global Styles
@import './variables';

// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scrollbar-gutter: stable;
}

.webkitForceHardwareAcceleration {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

#app {
  background: $backgroundColor;
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $textColor;
}

// Typography
h1,
h2 {
  font-weight: 700;
  letter-spacing: 0.3px;
}

h1 {
  font-size: 2rem;
  line-height: 100%;
}

h2 {
  font-size: 1.5rem;
  line-height: 130%;
  margin: 20px 0;
  color: $headingColor;
}

p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 155%;

  em {
    font-style: italic;
  }
}

b {
  font-weight: 700;
}

ul {
  list-style-position: inside;
  margin: 0 auto 25px;
}

li {
  line-height: 155%;
}

a {
  color: $redPunch;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $redPunch;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

// Utility classes
.unicode {
  font-family: 'Arial Unicode MS', sans-serif !important;
}

.small {
  font-size: 0.7rem;

  &.caps {
    line-height: 80%;
  }
}

.caps {
  text-transform: uppercase;
}

// Components
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 840px;
  padding: 16px;

  figcaption {
    text-align: left;
    color: $textColor !important;
    text-decoration: none !important;
  }
}

.back-link {
  text-align: left;
  margin-bottom: 20px;
  a {
    color: $redPunch;
  }
}

// Home page
.home {
  .project-link {
    text-decoration: none;
    color: inherit;
  }

  figure {
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      border-radius: 16px;
    }

    figcaption {
      margin-top: 20px;
      font-size: 1.5rem;
      font-weight: 700;
      .title {
        margin-right: 16px;
      }
    }

    .cta {
      background: transparent;
      border: 2px solid $redPunch;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      padding: 6px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      margin-top: 12px;
      display: inline-block;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      color: $redPunch;
      text-transform: uppercase;

      .unicode {
        color: $redPunch;
        -webkit-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
        display: inline-block;
      }
    }
    &:hover {
      .cta {
        background: $redPunch;
        color: white;

        .unicode {
          color: white;
          -webkit-transform: translate(2px, -2px);
          transform: translate(2px, -2px);
        }
      }
    }
  }
}

// Media queries
@media (min-width: 451px) {
  li a.thumb:hover {
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px);
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  }
}
