/* TRANSITIONS */

body,
.in-transition {
  transition: transform 400ms ease;
}

a {
  transition: all 0.3s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.7s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.logo,
.logo .letter,
.logo .letter > div {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  will-change: transform, opacity;
}

.logo,
.logo .letter {
  transition: transform 0.8s ease 0s, border-radius 3s ease 0s,
    opacity 1s ease 0s;
}

.logo .r .top,
.logo .r .bottom {
  transition: transform 1s ease 0s, border-radius 1.3s ease 0.5s,
    opacity 1s ease 0s;
}

.logo .k .top,
.logo .k .bottom {
  transition: transform 1s ease 0s, border-radius 1.6s ease 0.6s,
    opacity 1s ease 0s;
}

.logo .d .top,
.logo .d .bottom {
  transition: transform 1s ease 0s, border-radius 1.8s ease 0.7s,
    opacity 1s ease 0s;
}
.logo {
  display: flex;
  width: 150px;
}

.letter {
  flex-grow: 1;
}

.letter:not(:first-of-type) {
  margin-left: 2em;
}

.letter > div {
  min-height: 1em;
}

.letter > div,
.letter > div > div,
nav {
  border: 0px solid black;
  border-radius: 0px;
  opacity: 0;
}

.logo {
  transform: scaleX(0);
}

.loaded .letter,
.loaded .letter > div,
.loaded .letter > div > div,
nav.loaded {
  opacity: 1 !important;
}

.loaded .logo {
  transform: scaleX(1);
}

.loaded .logo.logoIsDimmed {
  mix-blend-mode: lighten;
}

.loaded .r > div {
  border-left: 10px solid black;
  border-top-right-radius: 10em;
}

.loaded .r .top {
  border-right: 10px solid black;
  border-bottom-right-radius: 10em;
}

.loaded .r .bottom {
  border-right: 10px solid black;
}

.loaded .k > div {
  border-left: 10px solid black;
  border-right: 10px solid black;
}

.loaded .k .top {
  border-bottom-right-radius: 5em;
}

.loaded .k .bottom {
  border-top-right-radius: 5em;
}

.loaded .d > div {
  border-left: 10px solid black;
  border-right: 10px solid black;
}

.loaded .d .top {
  border-top-right-radius: 5em;
}

.loaded .d .bottom {
  border-bottom-right-radius: 5em;
}

nav {
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1) 1.2s,
    height 0.4s cubic-bezier(0.77, 0, 0.175, 1) 1.2s;
}

.colors {
  transition: opacity 3s ease 1s;
}

.colors > div {
  transition: transform 0.4s ease-in 0s;
}

/* .colors > div > div {
    transition: 
        transform 1s ease 0s,
        width 1s ease-in 0s;
} */

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
